*{
    margin:0px;
    padding:0px;
}


nav{
    background-color:rgb(48, 207, 127);
    height: 35px;
    position: fixed;
    width:100%
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    height: 35px;
    align-items: center;

}

nav ul li a{
    text-decoration: none;
    color: white;
}

.page1{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    color: white;
    padd
   
}

.page1 h1{
    font-size: 50px;
    font-family:Bookman, URW Bookman L, serif;
}

.page1 button{
    padding: 10px 35px;
}

button:hover{
    background-color: white;
}

.parent{
     background: url("https://images.pexels.com/photos/696287/pexels-photo-696287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
  
}

